{% extends "layout.html" %}

{% block content %}
      <!-- Main component for a primary marketing message or call to action -->



<style type="text/css">
body {
background: url("/static/img/HummingBird4.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="main-content" class="row" data-original-title="" title="">
	<div id="sidebar" class="span7 offset2" data-original-title="" title="">
		<div class="well" data-original-title="" title="">
			<fieldset style="text-align:center">
				<h1>
      			Trending News
    			</h1>
    			<h4 class="text-muted">
    				Get Latest News about Trends on Twitter
    			</h4>
    			<a class="btn btn-large btn-success" href="/news"> Get Started!</a>
    		</fieldset>
    	</div>
    </div>
</div>

{% endblock %}
