{% extends "layout.html" %}

{% block content %}
<div class="span12">
      <!-- Main component for a primary marketing message or call to action -->

  <div class="accordion" id="accordion1">
    {% for news in d %}
      <h3><span class="label label-default">{{news['trends']}}</span></h3>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#{{news['id']}}">  
            {{news['title']}}
          <span class="badge" style="float:right">clicks: {{news['clicks']}}</span>
          </a>
        </div>
        <div class="media" style="margin-left:15px">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{news['pic']}}" height="150" width="180">
          </a>
          <div class="media-body">
            <div class="media">
              {{news['text']}}
              <a href={{news['url']}}>Read more</a>
            </div>
            <br>

            <p>
              Cities have the trend: {{news['city']}}
            </p>
            <br>
            <div class="col-lg-9">
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width:{{news['positive']*100}}%"><strong>Like</strong></div>
                <div class="progress-bar progress-bar-warning" style="width:{{news['neutral']*100}}%"><strong>Okay</strong></div>
                <div class="progress-bar progress-bar-danger" style="width:{{news['negative']*100}}%"><strong>Dislike</strong></div>
              </div>
            </div>
          </div>
        </div>

        {% if news['related']|length > 0 %}
          <div id="{{news['id']}}" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">      
              <div class="accordion" id="accordion2">
                {% for related_news in news['related'] %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{related_news['id']}}">
                        <font size="3">{{related_news['title']}}</font>
                        <p class="badge" style="float:right">clicks: {{related_news['clicks']}}</p>
                      </a>
                    </div>
                    <div id="{{related_news['id']}}" class="accordion-body collapse" style="height: 0px;">
                      <div class="accordion-inner">
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="{{related_news['pic']}}" height="100" width="120">
                          </a>
                          <div class="media-body">
                            <div class="media">
                              {{related_news['text']}}
                            </div>
                            <p>
                              <a href="{{related_news['url']}}">Read more</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

    {% else %}
        <a href="#" class="list-group-item">Unbelievable.  No keyswords so far</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
